/*** BASE STYLES***/
body {
  font-family: 'Quicksand', sans-serif;
  margin: 10px;
}

#header,#about, #skills, #work, #contact {
  height: 600px;
}
/*** GRID ***/
.full-width {
  width: 1180px;
  margin:10px;
}
.half-width {
  width: 560px;
  margin: 10px;
  float: left;
}
.third-width {
  width: 230px;
  margin: 10px;
  float:left;
}

/*** HEADER ***/
header {
  height: 500px;
  background: url('../img/mountains.jpg');
  background-size: cover;
}
header h1 {
    font-family: 'Alex brush',cursive;
    font-size: 60px;
    padding: 10px 0;
}

nav {
    float: right;
    padding: 55px 40px;
}

nav ul li{
    display: inline-block;
}

nav ul li a {
    text-transform: capitalize;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding-left: 40px;
}

/*** ABOUT SECTION***/
#about {
  text-align: center;
  height: auto;
}
#about .full-width {
    padding: 20px 0;
}
#about h2 {
    font-family: 'Alex brush', cursive;
    color: #9376d2;
    font-size: 48px;
}
#about p {
    font-size: 18px;
    color: #9376d2;
    line-height: 24px;
    padding-right: 50px;
}

/*** SKILLS SECTION***/
#skills {
  height: 450px;
  background:#b3d7d3;
  text-align: center;
}
#skills .full-width {
  padding: 20px;
}
#skills .third-width {
  padding: 40px;
  margin: 20px;
}

/*** WORK ***/
#work {
  height: 500px;
}
#work {
  text-align: center;
}
#work .full-width {
  padding: 40px;

}
#work .third-width {
  padding: 30px;
  margin: 50px;
}
h4 {
  font-size: 18px;
  text-align: center;
}

/*** FOOTER SECTION***/
#contact {
  height: 300px;
  background: #b3d7d3;
}
#contact .full-width {
    padding: 40px 0;
}

#contact-img {
    border: 12px solid #ffffff;
}

#contact h2, #email-header, #socialmedia-header, #contact ul, #contact h3 {
    padding-left: 40px;
}

#envelope {
    padding: 0 10px 0 115px;
}
#contact h2 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 24px;
    text-align: center;
}
#email-header {
    font-size: 36px;
    font-weight: 400;
    margin: -30px 0 5px 0;
}
#socialmedia-header {
    font-weight: bold;
    font-size: 29px;
    margin: 40px 0 0 0;
}
#contact a {
    text-decoration: none;
    color: #9376d2;
    font-weight:bold;
    font-size: 24px;
    text-align: center;
}
#contact ul {
    list-style: none;
}
#contact ul li {
     display: inline-block;
}
#contact ul img {
    font-size: 32px;
    padding-right: 48px;
}

/*** ABOUT PAGE ***/
#experience {
  height: 500px;
}
#education, #experience, #personal  h2 {
      font-family: 'Alex brush', cursive;
      color: #9376d2;
      font-size: 36px;
}
#education h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  color: #9376d2;
}
#experience, #personal, #education p {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: #9376d2;
    line-height: 24px;
    padding-right: 50px;
}
#education {
  background: #b3d7d3;
}

#personal {
  height: 850px;
}
